<h1>Maps#coffee_map</h1>
<p>the map might go here</p>
<p>Find me in app/views/maps/coffee_map.html.erb</p>


<style>
  #map-canvas {
    width: 500px;
    height: 400px;
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
google.maps.event.addDomListener(window, 'load', initialize);
var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(40.0126, -83.0307),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
    var myLatlng = new google.maps.LatLng(40.0126,-83.0307);

    // To add the marker to the map, use the 'map' property
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title:"Hello World!"
    });
  }
  



</script>

<div id="map-canvas"></div>
