<h1>Orders#order_selection</h1>
<p>Find me in app/views/orders/order_selection.html.erb</p>
<div class="row">
        <div class="col-md-4">

        <%= button_to 'Create Order',orders_make_order_path, :class => "button", :method => :get, context: :primary %>
        </div>
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">
          <%= button_to 'Fullfill Order',orders_order_fullfill_path, :class => "button", :method => :get, context: :primary %>
        </div>
      </div>
