<div class="cover-container">
<div class="inner cover">
  <h1 class="cover-heading">Time to choose</h1>
  <p class="lead">Click on an option below to create or fulfill an order</p>

<div class="row">
        <div class="col-md-4">

        <%= button_to 'Create Order',orders_make_order_path, :class => "button", :method => :get, context: :primary %>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <%= button_to 'Fulfill Order',orders_order_fullfill_path, :class => "button", :method => :get, context: :primary %>
        </div>
      </div>
    </div>
</div>
