<h1>Orders#order_page</h1>
<p>Find me in app/views/orders/order_page.html.erb</p>


<div class="page-header">
  <h1>Orders</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>Time</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Order Info</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>make a controller to generate time</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>link to order</td>
        <td>OSU Dreese</td>
        <td>
      </tr>
      
      </tbody>
    </table>
  </div>
