<div class="cover-container">

  <div class="inner cover">
    <h1 class="cover-heading">Let's get some coffee</h1>
    <p class="lead">Sign in or create an account to begin</p>


    <p>
      <div style="float: left; width: auto; padding-left: 200px">
    <%= button_to 'Sign In',new_user_session_path, :class => "button", :method => :get, context: :primary %>
      </div>
    <div style="float: right; width: auto; padding-right: 200px">
    <%= button_to 'Create Account',new_user_registration_path, :class => "button", :method => :get, context: :primary %>
    </div>
    </p>
    </div>
</div>
