<h1>Thank You!</h1>

<h4>Order to Fulfill:</h4>

<p>TODO</p>

<p>Your order has been charged to the consumer. You are now responsible
for making the coffee and and delivering it to them! We hope you found
Brewhaha easy to use and had a positive experience. We hope you choose
to fulfill more orders in the future. </p>

<p>We strongly recommend you print this page and keep it until
you have been paid by the consumer. </p>

<%= button_to 'OK', orders_path, :class => "button", :method => :get, context: :primary %>
