<h1>Account#create_account</h1>
<p>Find me in app/views/account/create_account.html.erb</p>
<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd">
</div>
<div class="form-group">
  <label for="pwd-conf">Confirm Password:</label>
  <input type="password" class="form-control" id="pwd">
</div>
