// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* GLOBAL STYLES
-------------------------------------------------- */

.cover-container {
  text-align: center;
}

body{
  background-image: image-url("coffee.jpe");
  background-size: cover;
}

.navbar-default{
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(248, 248, 248, 0);
}
