// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* GLOBAL STYLES
-------------------------------------------------- */

.cover-container {
  text-align: center;
}

.brand{

  height: 40px;

}
#logo-fix{
  height: 1px;

}
